/* .section-offices {
    padding: 128px 24px;
    max-width: 1200px;
    margin: auto;
} */

/* .section-offices .section-main-office h5, .section-offices .section-branches h5 {
    margin-top: 0 !important;
}

.section-main-office, .section-branches {
    padding: 20px;
}

.section-branches .office-branches {
    margin-bottom: 1.5rem;
}

.section-branches .office-branches .container {
    border: 1px solid #F0F0F0;
    height: 350px;
    padding: 20px;
}

.section-main-office .office-main .address-wrapper, .section-main-office .office-main .contact-wrapper, .section-branches .office-branches .address-wrapper, .section-branches .office-branches .contact-wrapper {
    margin-bottom: 1.5rem;
}

.section-main-office .office-main .ant-btn-ghost, .section-branches .office-branches .ant-btn-ghost {
    background: linear-gradient(90deg, #017CB7 0%, #00B776 100%);
    border: none;
    color: #FFF;
    font-weight: bold;
}

.section-main-office .office-main .ant-btn-ghost:hover, .section-branches .office-branches .ant-btn-ghost:hover {
    background: #F0F0F0;
    color: #00B776;
}

.section-report-claim .report-claim-container {
    width: 70%;
    margin: auto;
}

@media only screen and (max-width: 767.99px) {
    .section-report-claim .report-claim-container {
        width: 100%;
    }
} */

.contact-us {
  padding: 80px;
}

.contact-us .section-content .content-row {
  justify-content: center;
}

.contact-us .section-content .content-row__col-item {
  background: #fff;
  border: 1px solid #f0f0f0;
  padding: 20px;
  margin-bottom: 40px;
  text-align: center;
}

.contact-us
  .section-content
  .content-row:nth-child(2)
  .content-row__col-item:last-child {
  margin-bottom: 0 !important;
}

.contact-us .section-content .col-item-top,
.contact-us .section-content .col-item-content {
  padding: 0;
  margin-bottom: 20px;
}

.contact-us .section-content .col-item-top .top-title {
  color: #0062b3 !important;
  margin-bottom: 10px;
}

.contact-us .section-content .col-item-top .top-subtitle {
  color: #017cb7 !important;
  margin-top: 0 !important;
}

.contact-us .section-content .col-item-content {
  display: flex;
  flex-direction: column;
}

.contact-us .section-content .col-item-content .content-address,
.contact-us .section-content .col-item-content .content-telphone {
  color: #000 !important;
}

.contact-us .section-content .col-item-content .content-address {
  margin-bottom: 10px;
}

.contact-us .section-content .col-item-bottom .bottom__button {
  background: #00b875;
}

.contact-us .section-content .col-item-bottom .bottom__button:hover {
  box-shadow: 0px 0px 10px 10px #00b87567;
  transform: 0.3s box-shadow;
}

@media only screen and (max-width: 767px) {
  .contact-us {
    padding: 80px 40px;
  }
}
